# Bash style file that gets sourced by pgbackup.sh

# Change to true if you only want to keep backups for a day. 
ONEDAY='true'
ONEWEEK='true'

# Change to false if you do not want to take weekly backups as well.
WEEKLY='true'

# Change to the day you want the weekly backups to happen.
WEEKLYDAY='Sun'

# Set the day you want to delete weekly backups
WEEKLYDELETEDAY='Mon'

# Weekly backups only
WEEKLYONLY='false'

# Paths
BACKUPDIR='/mnt/backups'
WHICH="/usr/bin/which"

# PostgreSQL Configs
PGUSER='postgres'
PGPORT=5432
PGHOST="localhost"

# Dump options
PSQL_FLAGS="--no-psqlrc --tuples-only"
PGDUMP_FLAGS="-Fc"
PGDUMPALL_FLAGS="-g"
