# Bash style file that gets sourced by pgbackup.sh

# Change to true if you only want to keep backups for a day. 
ONEDAY='true'
ONEWEEK='true'

# Change to false if you do not want to take weekly backups as well.
WEEKLY='true'

# Change to the day you want the weekly backups to happen.
WEEKLYDAY='Sun'

# Paths
BACKUPDIR='/mnt/backups'
WHICH="/usr/bin/which"

# PostgreSQL Configs
PGUSER='pgsql'
PGPORT=5432
PGHOST="localhost"

# Dump options
PGDUMP_FLAGS="-Fc"
PGDUMPALL_FLAGS="-g"

